#app-header {
  position: fixed;
  top: 0;
  right: 0;

  background-color: #ff4444;   /* color del header */
  color: white;

  padding: 10px 20px;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;

  z-index: 1000;
}

#app-header a,
#app-header button {
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

#app-header span {
  font-weight: bold;
}

body {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 50px;
}
